{% extends "base.html" %}

{% block content %} 
<body>
  <h1>Log In To Start Bloggin'</h1>
  <form action="/login" method="POST">
    <table align="right">
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" name="username" required value={{username}}></td>
            <td><span class="error">{{username_error}}</span></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" name="password" required></td>
            <td><span class="error">{{password_error}}</span></td>
        </tr>
        <tr>
            <input type="submit" value="Log In">
        </tr>
        <tr>
            <p>Not a user? <a href="/signup">Create a New Account</a></p>
        </tr>
    </table>
    
  </form>
  <p></p>
</body>
{% endblock %}